<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.if3utsakb10119124">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IF3UTSAKB10119124">
        <activity
            android:name=".Edit"
            android:exported="false" />
        <activity
            android:name=".Details"
            android:exported="false"
            android:label="@string/title_activity_details"
            android:theme="@style/Theme.IF3UTSAKB10119124.NoActionBar" />
        <activity
            android:name=".AddNote"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITYT"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Slider"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>